/* *{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(0, 36, 19) 0%, rgb(114, 9, 121) 35%, rgb(178, 220, 53) 100%);
} */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    height: 1px;
    margin: 0px -123px;
    padding: 0px;
}
p{
    color: rgb(247, 42, 42);
}
.msg{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.msg1{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.msg2{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.msg3{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: end;
    margin-left: 890px;
    margin-top: -585px;
    height: 84%;
}
.msg4{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}


$background: #FDFAD8;
$arc-delay: 0.1s;
$band-width: 35px;
$colors: (
  red: #E31D28,
  orange: #ED8C3D,
  yellow: #FCD234,
  green: #3E9965,
  blue: #295167,
  purple: #492245,
  transparent: $background
);

@mixin arc-calc($color, $diameter) {
  $half: $diameter/2;
  background: $color;
  clip: rect(0 $diameter $half 0);
  height: $diameter;
  margin-left: -$half;
  margin-top: -$half;
  width: $diameter;
}

@keyframes spin {
  from {
    transform: rotateZ(-180deg);
  }
  
  to {
    transform: rotateZ(0deg);
  }
}

body {
  background: $background;
}

$rainbow-diameter: $band-width * length($colors) * 2;
$rainbow-half: $rainbow-diameter / 2;
.rainbow {
  clip: rect(0 $rainbow-diameter $rainbow-half 0);
  height: $rainbow-diameter;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-25%);
  width: $rainbow-diameter;
}

.arc {
  animation: spin ease-in-out 0.5s normal both;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
}

@for $i from 1 through length($colors) {
  $set: nth($colors, $i);
  $color: nth($set, 1);
  $hex: nth($set, 2);
  
  $delay: (length($colors) - $i) * $arc-delay;
  $diameter: (length($colors) - $i + 1) * $band-width * 2;
  
  .arc-#{$color} {
    @include arc-calc($hex, $diameter);
    animation-delay: $delay;
  }
}